    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/cataloghome.css">
        <title>Swords & Blades</title>
    </head>

    <body>
        
        <div class="container">
            <div class="glass-container">
                <nav class="navbar">
                    <div class="logo-container">
                        <img src="img/logo.png" class="logo">
                    <a href="/">Swords & Blades</a>
                    </div>
                    
                    <ul class="nav-links">
                        
                        <li class="nav-link"><a href="/cataloghome">Catalog Home</a></li>
                        <li class="nav-link"><a href="/signinup">Sign In</a></li>
                        <li class="nav-link"><a href="/aboutus">About Us</a></li>
                    </ul>
                </nav>
                
                <div class="content">
                    
                    <div class="main">
                    <div class="button-container"> 
                        
                        <button onclick="navigate('Asian')"><a href="/Asian" style="margin-left:2vw;">
                            Explore Asian Swords</a>
                        </button>
                        <button  style="margin-right:16vw; margin-left:14vw;">
                            Explore European Swords
                        </button>
                        <button>
                            Explore Dagger
                        </button>
                    </div>
                    </div>
                    <div class="image-wrapper">
                        <img src="img/Asian.png">
                        <img src="img/European.png">
                        <img src="img/Dagger.png">
                        
                    </div>
                </div>
            </div>
        </div>

    </body>

    </html>