<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="css/catalogs.css">
  <script src="js/catalogscript.js" defer></script>
  <title>Swords & Blades</title>
</head>
<body class="body1">
  <div class="bgimg2"></div>
  <div class="daggers">
    <div class="container">
      <div class="glass-container">
        <nav class="navbar">
          <div class="logo-container">
            <img src="logo.png" class="logo">
            <a href="#">Swords & Blades</a>
          </div>
          
          <ul class="nav-links">
            <li class="nav-link"><a href="#">Catalog Home</a></li>
            <li class="nav-link"><a href="#">Sign In</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>
        </nav>

        <div class="content">    
          <div class="main">

          </div>
        </div>

        <div class="image-wrapper-2">
          <div class="image-container-1">
            <img src="img/sword_of_charlemagne__joyeuse__1.png">
            <div class="description">
              <p><b>Sword of Charlemagne (Joyeuse):</b> A symbol of Frankish and French royal power, the Joyeuse is one of the most famous swords in European history. It is associated with Charlemagne, the great Frankish king of the 8th century. Legends attribute magical powers to the sword, including the ability to blind its foes with its shimmering blade. Today, it is considered one of the coronation swords of the French monarchy, representing the continuity of power and authority.</p>
              <hr>
            </div>
          </div>

          <div class="image-container-2">
            <img src="img/sword_of_richard_the_lionheart_1.png">
            <div class="description">
              <p><b>Sword of Richard the Lionheart:</b> This sword belonged to King Richard I of England, known as Richard the Lionheart, a prominent figure in the Third Crusade. The sword, believed to be of exceptional craftsmanship, was a symbol of his military prowess and chivalry. It is said that Richard used this sword in several battles, showcasing his valor and leadership on the battlefield.</p>
              <hr>
            </div>
          </div>
          
          <div class="image-container-3">
            <img src="imagesEuro/sword_of_saint_maurice_1.png">
            <div class="description">
              <p><b>Sword of Saint Maurice:</b> Legend has it that Saint Maurice, a Roman soldier of the 3rd century, used this sword during his military endeavors. This relic symbolizes his unwavering commitment to Christianity and his leadership within the Theban Legion. The sword has been revered for centuries, signifying courage, faith, and martyrdom.</p>
              <hr>
            </div>
          </div>

          <div class="image-container-4">
            <img src="imagesEuro/sword_of_saint_olaf_1.png">
            <div class="description">
              <p><b>Sword of Saint Olaf:</b> Belonging to King Olaf II of Norway, the sword is intertwined with the legacy of the legendary ruler who played a pivotal role in the unification and Christianization of Norway. It represents the strength, leadership, and devotion to the Christian cause that defined King Olaf's reign and his legacy as a national hero.</p>
              <hr>
            </div>
          </div>

          <div class="image-container-5">
            <img src="imagesEuro/sword_of_saint_wenceslas_1.png">
            <div class="description">
              <p> <b>Sword of Saint Wenceslas:</b> This ceremonial sword is associated with Saint Wenceslas, the revered Bohemian prince known for his Christian piety and defense of his people. The sword embodies the ideals of nobility, righteousness, and protection, reflecting the saint's commitment to his kingdom's spiritual and temporal welfare.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
