    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/cataloghome.css">
        <title>Swords & Blades</title>
    </head>

    <body>
        
        <div class="container">
            <div class="glass-container">
                <nav class="navbar">
                    <div class="logo-container">
                        <img src="img/logo.png" class="logo">
                    <a href="/">Swords & Blades</a>
                    </div>
                    
                    <ul class="nav-links">
                        
                        <li class="nav-link"><a href="/cataloghome">Catalog Home</a></li>
                        <li class="nav-link"><a href="/signinup">Sign In</a></li>
                        <li class="nav-link"><a href="/aboutus">About Us</a></li>
                    </ul>
                </nav>
                
                <div class="content">
                    
                    <div class="main">
                   
                        
                        <button><a href="/Asian" style="text-decoration:none;color:white">Explore Asian</a></button>
                        <button><a href="/Euro" style="text-decoration:none;color:white">Explore European</a></button>
                        <button><a href="/Daggers" style="text-decoration:none;color:white">Explore Daggers</a></button>
                    
                    </div>
                    <div class="image-wrapper">
                        <img src="img/asian (2).png">
                        <img src="img/european (2).png">
                        <img src="img/daggers.png">
                    
                    </div>
                </div>
            </div>
        </div>

    </body>

    </html>