
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="styles_daggers.css">
  <script src="script.js" defer></script>
  <title>Swords & Blades</title>
</head>
<body>
  <div class="bgimg1"></div>
  <div class="daggers">
    <div class="container">
      <div class="glass-container">
        <nav class="navbar">
          <div class="logo-container">
            <img src="imagesAsian/imagesDaggers/logo.png" class="logo">
            <a href="#">Swords & Blades</a>
          </div>
          
          <ul class="nav-links">
            <li class="nav-link"><a href="#">Catalog Home</a></li>
            <li class="nav-link"><a href="#">Sign In</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>
        </nav>

        <div class="content">    
          <div class="main">

          </div>
        </div>

        <div class="image-wrapper-2">
          <div class="image-container-1">
            <img src="imagesAsian/imagesDaggers/trenchKnife.png">
            <div class="description">
              <p>A <b>Trench knife</b> is a combat knife designed to kill or incapacitate an enemy at close quarters, such as in a trench or other confined area. It was developed as a close combat weapon for soldiers attacking enemy trenches during the First World War. An example of a World War I trench knife is the German Army's Nahkampfmesser (close combat knife) </p>
              <hr>
            </div>
          </div>

          <div class="image-container-2">
            <img src="imagesAsian/imagesDaggers/huntingDagger.png">
            <div class="description">
              <p>The <b>Hunting dagger </b> is a  German dagger, used to kill deer and boar. It is a weapon mainly used in the fancy hunts of the German nobility. This dagger developed from Medieval hunting swords which were longer and mainly used by mounted hunters. Today hunting daggers are occasionally used as parts of traditional German hunting uniforms.</p>
              <hr>
            </div>
          </div>
          
          <div class="image-container-3">
            <img src="imagesAsian/imagesDaggers/butterflyKnife.png">
            <div class="description">
              <p>A <b>b>Butterfly knife</b>, also known as a balisong, fan knife or Batangas knife, is a type of folding pocketknife or dagger that originated in the Philippines. Its distinct features are two handles counter-rotating around the tang such that, when closed, the blade is concealed within grooves in the handles.</p>
              <hr>
            </div>
          </div>

          <div class="image-container-4">
            <img src="imagesAsian/imagesDaggers/Sileteo.png">
            <div class="description">
              <p>A <b> Stiletto </b>is a specialized dagger with a long slender blade and needle-like point, primarily intended as a thrusting and stabbing weapon.
                The stiletto blade's narrow cross-section and acuminated tip reduce friction upon entry, allowing the blade to penetrate deeply. It was first designed in Italy.</p>
              <hr>
            </div>
          </div>

          <div class="image-container-5">
            <img src="imagesAsian/imagesDaggers/Fairbrian.png">
            <div class="description">
              <p>The <b>Fairbairn–Sykes</b> fighting knife is a double-edged fighting knife resembling a dagger or poignard with a foil grip. It was developed by William Ewart Fairbairn and Eric Anthony Sykes in Shanghai based on ideas that the two men had while serving on the Shanghai Municipal Police in China before World War II.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
