<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/aboutus.css">
    <title>About Us</title>
</head>

<body>
    
    <div class="container">
        <div class="glass-container">
            <nav class="navbar">
                <div class="logo-container">
                    <img src="img/logo.png" class="logo">
                    
                <a href="#">Swords & Blades</a>
                </div>
                
                <ul class="nav-links">
                    
                    <li class="nav-link"><a href="#">Catalog Home</a></li>
                    <li class="nav-link"><a href="#">Sign In</a></li>
                    <li class="nav-link"><a href="#">About Us</a></li>
                </ul>
            </nav>
            
            <div class="content">
                
                <div class="main">
                    
                    <h2>About Us</h2>
                    <p>
                        "At Swords and Blades, we are fervent advocates of preserving the rich heritage and cultural significance of these timeless weapons. Our team of passionate historians and enthusiasts has meticulously curated an extensive collection of information, encompassing the diverse origins, craftsmanship, and historical narratives of swords and blades from around the world. With a shared dedication to upholding the legacy of these extraordinary artifacts, we aim to foster a community where knowledge meets passion and where the ancient art of sword-making is celebrated and perpetuated." </p>
                    <p>Group-7<br>
                        Nishant - 220313<br>
                        Aryyan Ahlawat - 220338<br>
                        Raghav Arora - 22370<br>
                        Viresh Chauhan - 220422</p>    
                    <button>Explore the world of Steel</button>
                </div>
                <div class="image-wrapper">
                    <img src="img/background.png">
                    
                </div>
            </div>
        </div>
    </div>

</body>

</html>